---
import FeaturesList from "./FeaturesList.astro";
---

<section id="about" class="features section">
  <div class="container">
    <FeaturesList />
  </div>
</section>

<style lang="scss">
  .features {
    overflow: hidden;
  }
</style>
