:root {
  --header-bg: #f7f7f7;
  --primary: #fba70b;
  --primary-darker: #f4813f;
  --secondary: #f1556a;
  --white: #fff;
  --black: #000;
  --button-bg: var(--primary);
  --button-text: #fff;
  --text: #1e1e1e;
  --text-grey: #6a6a6a;
  --text-grey-darker: #7a7a7a;
  --link: #007bff;
}
