---
import Layout from "@layouts/Layout.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Intro from "@components/sections/Intro.astro";
import Features from "@components/sections/Features/Features.astro";
import Promotion from "@components/sections/Promotion/Promotion.astro";
import Testimonials from "@components/sections/Testimonials/Testimonials.astro";
---

<Layout title="Lava Landing Page HTML Template">
  <Header />

  <main>
    <Intro />
    <Features />
    <Promotion />
    <Testimonials />
  </main>

  <Footer />
</Layout>
