<div class="more-about">
  <h2 class="more-about__title">More About <strong>Lava</strong></h2>
  <p class="more-about__text">
    Whether you're a small business owner looking to create an online presence,
    or a developer seeking a streamlined and optimized template for your
    clients, Lava Landing Template is an excellent choice. With its fast loading
    speed, intuitive design, and easy customization options, Lava Landing
    Template is sure to help you achieve your online goals.
    <br />
    <br />
    If you need this contact form to send email to your inbox, you may follow our
    <a href="https://templatemo.com/contact" class="unset">contact</a> page for more
    detail.
  </p>
</div>

<style lang="scss">
  .more-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    .more-about__title {
      strong {
        color: var(--primary);
      }
    }
  }

  @include breakpoints.lg {
    .more-about {
      justify-content: center;
      text-align: unset;
    }
  }
</style>
